@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* html {
  font-size: 100%;
}

:root {
  /* colors */
  --blue-50: #f0f9ff;
  --blue-100: #e0f2fe;
  --blue-200: #bae6fd;
  --blue-300: #7dd3fc;
  --blue-400: #38bdf8;
  --blue-500: #0ea5e9;
  --blue-600: #0284c7;
  --blue-700: #0369a1;
  --blue-800: #075985;
  --blue-950: #0c4a6e;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  background-color: var(--blue-100);
  color: var(--blue-950);
}

a {
  text-decoration: none;
  color: var(--blue-950);
}
a:hover {
  color: var(--blue-700);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  text-transform: capitalize;
}

p {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h3,
a {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

.wrapper {
  max-width: 1060px;
  margin-inline: auto;
  padding: 0 8px;
}

/* ============= ALERT =============== */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--blue-950);
  border-radius: 50%;
  border-top-color: var(--blue-50);
  animation: spinner 0.6s linear infinite;
  margin: 50% auto;
}

/* ============= NAVBAR =============== */

.nav {
  padding: 20px 0;
  background-color: var(--blue-100);
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); */
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 0;
}

.links {
  display: inline-block;
}
.link {
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--blue-500);
}

.links-heading {
  display: inline-block;
  color: var(--blue-950);
}

.links-heading-color {
  color: var(--blue-500);
}

/* ============= HERO =============== */

.image {
  max-width: 100%;
}

.hero {
  /* padding: 64px 0; */
  padding: 128px 0;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
  gap: 48px;
}

.hero-right {
  grid-column: 2/3;
}

.hero a {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  color: var(--blue-500);
}

.hero a:hover {
  color: var(--blue-700);
}

.about-text p {
  line-height: 1.1;
}

.socials {
  display: flex;
  column-gap: 12px;
  padding-top: 32px;
}

.btn-container {
  width: 32px;
}

/* ============= TECH STACK =============== */

.tech-stack {
  /* padding: 64px 0; */
  padding: 128px 0;
  background-color: var(--blue-50);
}

.tech-stack-card-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
}

.tech-stack-logo-container {
  padding-bottom: 24px;
}

.tech-stack-logo {
  max-width: 64px;
  max-height: 64px;
}

.tech-stack-card-title {
  padding-bottom: 16px;
}

.tech-stack-card-text {
  line-height: 1.1;
}

/* ============= PROJECTS =============== */

.projects-title {
  padding-bottom: 48px;
}

.projects {
  padding: 128px 0;
  margin-bottom: 128px;
}

.project-image {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.project-card-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 32px;
}

.projects-cards {
  border-radius: 20px;
  background-color: var(--blue-50);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.projects-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.project-card-title {
  padding: 16px 12px;
  text-transform: none;
}

.project-card-text {
  line-height: 1.1;
  padding: 16px 12px;
}

/* =============== SCROLL UP ===============  */

.hidden {
  display: none;
}

.showBtn {
  position: fixed;
  color: var(--blue-950);
  border-radius: 50%;
  padding: 4px;
  right: -100px;
  bottom: 50px;
  font-size: 35px;
  cursor: pointer;
  transform: translate(-150px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-150px);
  }
}

/* ============= MEDIA QUERIES =============== */

@media screen and (max-width: 450px) {
  .links {
    width: 100%;
    text-align: right;
  }
  .link {
    padding: 0 2px;
  }
  .hero-image {
    display: none;
  }
  .image {
    display: none;
  }
  .hero-container {
    gap: 0px;
  }
  .tech-stack-title {
    padding-bottom: 32px;
  }
  .projects {
    margin-bottom: 0px;
  }
  .project-card-container {
    display: grid;
    grid-template-columns: auto;
    gap: 32px;
  }
}
